[submodule "potpie-ui"]
	path = potpie-ui
	url = https://github.com/intel-sandbox/potpie-ui

[submodule "singularity/singularity-compose"]
	path = singularity/singularity-compose
	url = https://github.com/fenghaitao/singularity-compose
