[submodule "potpie-ui"]
	path = potpie-ui
	url = https://github.com/fenghaitao/potpie-ui

[submodule "singularity/singularity-compose"]
	path = singularity/singularity-compose
	url = https://github.com/fenghaitao/singularity-compose
[submodule "pydantic-deepagents"]
	path = pydantic-deepagents
	url = https://github.com/fenghaitao/pydantic-deepagents
